body {
  margin: 0;
  text-align: left;
  font-family: Papyrus;
  font-weight: bold;
}

hr {
  border-style: dotted none none;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}

h1 {
  font-size: 50px;
  margin: 0 auto 0 auto 0;
  font-family: 'Great Vibes', cursive;
}

.h1 {
  font-size: 30px;
  font-family: serif;
}

.p {
  font-size: 20px;
}

.img {
  background-color: #7fdbda;
  padding-top: 100px;
}

.red {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.blue {
  background-color: red;
  width: 200px;
  height: 200px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px
}

.bottom-cloud {
  position: absolute;
}

.body {
  text-align: center;
}

.Green {
  background-color: green;
}
